* {
    font-family: 'Signika', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
    color: white;
}

a {
    text-decoration: none;
}

.card-list {
    display: flex;
    padding: 3rem;
}

.card {
    height: 475px;
    width: 190px;
    padding: 1.5rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

#card1 {
    background-image: url(assets/mainVer1.2Recent.png);
    background-size: 235px;
}
#card2 {
    background-image: url(assets/settingsPageRecent.png);
    background-size: 235px;
}
#card3 {
    background-image: url(assets/signUpRecent.png);
    background-size: 235px;
}
#card4 {
    background-image: url(assets/loginPageRecent.png);
    background-size: 235px;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card {
    transform: translateX(130px);
}

.card:not(:first-child) {
    margin-left: -130px;
}

.card-header {
    margin-bottom: auto;
}

.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}
