:root {
    --bg-color1: white;
    --bg-color2: #88bac7;
    --text-color1: black;
    --text-color2: white;
    --bg-color-main: #262626;
}
* {
    margin-top: 0px;
    border: none;
    margin-left: 0px;
    margin-right: 0px;
}
.grid-container {
    display: grid;
    grid-template-areas: "nav nav nav"
                         "header header header"
                         "main0 main0 main0 main0"
                         "main main main"
                         "footer footer footer";
    width: 100vw;
    height: 100vh;
    grid-gap: 50px;

    grid-template-columns: 1fr;
}

.nav {
    grid-area: nav;
}

.header {
    grid-area: header;
    color: var(--text-color2);
    text-align: right;
    padding-top: 25px;
    padding-inline: 0px;
    margin: auto;
    height: 100%;
    width: 100%;
    position: sticky;
    top: 0;
    z-index:1000;
}

.main {
    grid-area: main;
    color: var(--text-color2);
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    min-height: 100vh;
    padding-inline: 150px;
}

.main0 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    grid-area: main0;
    color: var(--bg-color-main);
    background-color: white;
    margin-bottom: 5vh;
    margin-top: 6vh;
    height: 60vh;
    vertical-align: center;
}


.footer {
    grid-area: footer;
    background-color: var(--bg-color-main); 
    color: var(--text-color2);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    margin: auto;
}


