:root {
    --bg-color: #88bac7;
    --text-color1: black;
    --text-color2: white;

}

.grid-container {
    display: grid;
    grid-template-areas: "nav nav nav"
                         "header header header"
                         "main main main"
                         "footer footer footer"
}

.nav {
    grid-area: nav;
}

.header {
    grid-area: header;
    background-color: var(--bg-color); 
    color: var(--text-color2);
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    background-color: var(--bg-color); 
    color: var(--text-color2);
}