:root {
    --bg-color: #88bac7;
    --text-color1: black;
    --text-color2: white;

}

body {
    color: var(--text-color1);
}

p {
    font-family: 'Signika', sans-serif;
}

nav {
    font-family: 'Signika', sans-serif;
    font-size: 30px;
    color: black;
}

a {
    color:black;
}
