:root {
    --bg-color1: white;
    --bg-color2: #88bac7;
    --text-color1: black;
    --text-color2: white;

}

body {
    color: var(--text-color2);
}

p {
    font-family: 'Signika', sans-serif;
    color: var(--text-color1);
}

nav {
    font-family: 'Signika', sans-serif;
    font-size: 30px;
    color: var(--text-color2);
}

a {
    color: var(--text-color2);
    text-decoration: none;
    color: inherit;
    word-spacing: 5px;
}
a:hover {
    color: black;
}


body {
    background-color: var(--bg-color1);
}

ul {
    color: var(--text-color1);
    font-family: 'Signika', sans-serif;
}

h2 {
    color: var(--text-color1);
    font-family: 'Signika', sans-serif;
    font-size: 27px;
}

