* {
    font-family: 'Signika', sans-serif;

}

:root {
    --bg-color1: white;
    --bg-color2: #88bac7;
    --text-color1: black;
    --text-color2: white;

}

body {
    color: var(--text-color2);
}

p {
    color: var(--text-color1);
    font-size: 15px;
    line-height: 2;
}
 
nav {
    font-size: 30px;
    color: var(--text-color2);
    padding-inline: 0px;
}

a {
    color: var(--text-color2);
    text-decoration: none;
    color: inherit;
    word-spacing: 5px;
}
a:hover {
    color: black;
}


body {
    background-color: var(--bg-color1);
}

ul > li {
    display: inline;
}

h2 {
    color: var(--text-color1);
    font-size: 27px;
}

h1 {
    font-size: 27px;
}

.blackList {
    color: var(--text-color1);
    font-size: 15px;
    line-height: 2;
}

#imgPos1 {
    width: 200px;
}

.headerGuide {
    color: var(--text-color2);
    list-style-type: none;
}